body {
    font-family: Arial, sans-serif;
    background: url("https://i.natgeofe.com/n/9b84995f-962d-4ac7-84f8-897e065860fc/vagar-island-faroe-islands-denmark_3x2.jpg");
}

.container {
    text-align: center;
    margin-top: 50px;
}

.weather-info {
    margin-top: 20px;
}

#weatherData {
    margin-top: 20px;
}

#searchHistory {
    margin-top: 20px;
}

#toggleUnits {
    margin-top: 10px;
}
